.blksail-input {
    color:  var(--instrument-input-color);
    fill: var(--instrument-input-color);
}

.blksail-dynamic {
    color: var(--instrument-dynamic-color);
    fill: var(--instrument-dynamic-color);
}

.blksail-container-background-fill {
    fill: var(--container-background-color);
}

.blksail-border-outline {
    fill: var(--border-outline-color);
}

.blksail-border-outline-stroke {
    stroke: var(--border-outline-color);
}

.blksail-container-section-fill {
    fill: var(--container-section-color)
}

.blksail-container-section-stroke {
    stroke: var(--container-section-color)
}

.blksail-label-color {
    color: var(--on-normal-neutral-color);
}

.blksail-border-divider-color {
    stroke: var(--on-normal-neutral-color);
}

.blksail-on-active {
    fill: var(--on-normal-active-color);
}

.blksail-active-text {
    font-size: var(--font-ui-body-active-size);
    font-family: "Open Sans", sans-serif;
    font-weight: var(--font-ui-body-active-weight);
    line-height: var(--font-ui-body-active-line-height);
    fill: var(--on-normal-active-color);
}

.blksail-instrument-frame-color-fill {
    fill: var(--border-divider-color);
}
